.primary{
    background-color: #34495E  !important;
    color: white!important;
}

.secondary{
    background-color: #efa94a !important;
    color: white!important;
}

.terciary{
    background-color: #34495E  ;
    color: white!important;
}



.caja{
    max-width:100 px ;
    max-height: 100 px;
}

.logo{
    max-width: 90px;
      max-height: 90px;
}

.user{
    max-width: 35px;
      max-height: 35px;
}

.user:hover{
    max-width: 35px;
      max-height: 35px;
}

.iconitos{
    color: #EDEABF;
}

.iconitos:hover{
    color: white;
    fill: rgb(255, 255, 255);
}


.divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #4b4e50;
}



.d-inline-block .dropdown-toggle::after {
    display: none !important; /* Oculta la flecha desplegable */
    border-radius: 50px; 
}

.negrita-user {
    transition: font-weight 0.3s ease;
}

/* Cambiar el peso de la fuente cuando se pasa el mouse por encima */
.negrita-user:hover {
    font-weight: bold;
}

.textjyj {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #f8f8d2;
}

.botonbarra {
    border:none;
    padding: 4px 14px;
    text-align: center;
    font-size: 17px;
    font-family: "Tahoma", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #f8f8d2;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
    width: 80%; /* Ancho del contenedor de búsqueda */
    max-width: 500px; /* Opcional: ajusta el máximo ancho según tus necesidades */
    background-color: #f8f8d2; /* Color de fondo */
    border-radius: 25px; /* Radio de borde */
    padding: 5px 10px; /* Relleno interno */
}

.search-input {
    width: calc(100% - 30px); /* Ajusta el ancho del input, considerando el espacio del ícono */
    height: 25px; /* Altura del input */
    font-size: 15px; /* Tamaño de fuente */
    font-family: "Poppins", sans-serif; /* Fuente */
    border: none; /* Quita el borde del input si quieres usar solo el borde del contenedor */
    outline: none; /* Quita el contorno al hacer clic */
    background: transparent; /* Fondo transparente */
}

.search-icon {
    position: absolute;
    right: 10px; /* Ajusta la posición del ícono a la derecha */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente */
    color: #888; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

  .stylebutton {
    background-color: transparent;
    color: #f8f8d2;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.stylebutton:hover {
    font-weight: bold;
    background-color: #50aa0c;
    padding: 1px 10px;
    border: 0px solid #69df0f;
    border-radius: 12px;

}

.botoncateg {
    background-color: transparent;
    color: #8d8d86;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.botoncateg:hover {
    color: #000000; /* Cambia este color según tu preferencia */
    font-weight: bold;

}


.header-barra {
    background-color: #4CAF45;
    padding: 10px 0px;
    color: white;
    
}


.tituloempr{
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    font-style: normal;
    font-size: 20px;
    color:#4CAF30;
    margin-top: 2px;
    padding: 5px;

}

.tituloempr-1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 15px;
    color:#000000;
    margin-top: 2px;
    padding: 5px;

}

.letra {
    font-family: "Poppins", sans-serif;
    margin-top: 0;     /* Elimina el margen superior */
    padding-top: 0;    /* Elimina el relleno superior */
    color: #615f5f;
    font-size: 14px;
}

.let-cuerpo {
    font-family: "Poppins", sans-serif;
    margin-top: 0;     /* Elimina el margen superior */
    padding-top: 0;    /* Elimina el relleno superior */
    color: #000000;
    font-size: 15px;
}

.empresa {
    padding: 5px;
    margin: 4px;
    background-color: #f8f9fa;
}

.empresita {
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    padding: 0px;
    margin: 0px;
    color: #000000;
    text-align: center;

}


.empres {
    
    border: 2px solid #36a34c; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #36a34c; /* Sombra para dar profundidad */
    background-color: #36a34c;
    
    

}

.empres:hover {
    border: 2px solid #4CAF30;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #4CAF30; /* Sombra para dar profundidad */
    background-color: #4CAF30;
    
}

.empres-1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    padding: 1px;
    margin: 1px;
    color: #ffffff;
    
}

.empres-1:hover {
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    padding: 1px;
    margin: 1px;
    color: #ffffff;
}

.empresota {
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    border: 2px solid #36a34c;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #36a34c; /* Sombra para dar profundidad */
    padding: 8px;
    margin: 5px;
    color: #ffffff;
    background-color: #36a34c;
}

.empresota:hover {
    border: 2px solid #4CAF30;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #4CAF30; /* Sombra para dar profundidad */
    padding: 8px;
    margin: 5px;
    color: #ffffff;
    background-color: #4CAF30;
}


.empress {
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    border: 2px solid #771d1d; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #771d1d; /* Sombra para dar profundidad */
    padding: 8px;
    margin: 5px;
    color: #ffffff;
    background-color: #771d1d;
}

.empress:hover {
    border: 2px solid #e12323;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 2 4px 8px #e12323; /* Sombra para dar profundidad */
    padding: 8px;
    margin: 5px;
    color: #ffffff;
    background-color: #e12323;
}


.centro {
    background-color: none;
    padding: none;
    
}





.mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

@media (max-width: 768px) {
    .search-container {
        width: 100%;
    }
    .col-md-3 .d-flex {
        flex-direction: column;
        align-items: flex-end;
    }
    .col-md-3 .d-flex .botonbarra {
        margin-bottom: 10px;
    }
}




footer {
    background-color: #f8f9fa;
  }
  
  footer h5, footer h6 {
    margin-top: 20px;
  }
  
  footer ul {
    padding-left: 0;
  }
  
  footer ul li {
    list-style: none;
  }
  
  footer button {
    margin-top: 10px;
  }

  .hist {
    border: 0px solid #d6d6d6;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 9px; /* Bordes redondeados */
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 5px 50px;
    margin-bottom: 20px; 
}

.cate-prin {
    border: 0px; /* Borde de 1 píxel de grosor, color azul */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 0px; /* Bordes redondeados */
    box-shadow: 0 0px 0px rgba(80, 80, 80, 0.1); /* Sombra para dar profundidad */
    margin:23px;
    padding: 5px;
    height: 243px;
    margin-top: 3px;
}

.cate-prin-img {
    border: 0px; /* Borde de 1 píxel de grosor, color azul */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
}

.cate-prin-img {
    position: relative; /* Necesario para controlar el overlay */
}

.cate-prin-img  img {
    transition: transform 0.3s ease; /* Transición suave de la transformación */
}

.cate-prin-img:hover img {
    transform: scale(1.1); /* Escala del 110% al pasar el mouse */
}

.cate-prin-text {
    display: block; /* Para centrar el botón */
    margin: 0 auto; /* Para centrar el botón */
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    color: #504f4f;
    cursor: pointer;
    padding: 7px;
}

.cate-prin-text:hover {
    display: block; /* Para centrar el botón */
    margin: 0 auto; /* Para centrar el botón */
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    color: #000000;
    cursor: pointer;
    padding: 7px;
}

.cate-titu {
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    color: #000000;
    cursor: pointer;
    padding: 5px;
    margin-top: 0px;
}

.foot {
    padding: 0px;
    margin: 4px;
    background-color: #28a745;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.foot-1 {
    color: #ffffff;
}

.publi {
    border: 1px solid #d6d6d6; /* Borde de 1 píxel de grosor, color azul */
    border-radius: 0px; /* Bordes redondeados */
    box-shadow: 0 5px 10px rgba(80, 80, 80, 0.1); /* Sombra para dar profundidad */
    height: 292px;
    width: 330px;
    margin: 3px;
    margin-top: 0px; /*agrega espacio interno*/
    padding: 12px;
}

.flechitas-cat {
    color: #36a34c;
    font-size: 50px; /* Tamaño del icono */
    padding: 1px;
    margin: 0 7px;
    height: 40px;
    width: 40px;
}

.flechitas-cat:hover {
    color: #69df0f ; 
    font-size: 50px; /* Tamaño del icono */
    padding: 1px;
    margin: 0 7px;
    height: 40px;
    width: 40px;
}

.cate-new {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: bold; /* Negrita */
    color: #000000;
    cursor: pointer;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin: 10px;
}

.prom {
    border: 1px solid #d6d6d6; /* Borde de 1 píxel de grosor, color azul */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 5px 10px rgba(80, 80, 80, 0.1); /* Sombra para dar profundidad */
    height: 262px;
    width: 400px;
    margin: 3px;
    margin-top: 0px; /*agrega espacio interno*/
    padding: 12px;
    background-color:#4CAF50;
}

.glori-logo {
    border: 1px solid #d6d6d6; /* Borde de 1 píxel de grosor */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 5px 10px rgba(80, 80, 80, 0.1); /* Sombra para dar profundidad */
    height: 292px;
    width: 330px;
    margin: 3px;
    margin-top: 0px; /* Espacio superior */
    padding: 0px;
    display: flex; /* Para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    overflow: hidden; /* Ocultar el desbordamiento de la imagen */
}

.logomini {
    width: 100%; /* Ajustar el ancho al contenedor */
    height: 100%; /* Ajustar la altura al contenedor */
    object-fit: contain; /* Ajustar la imagen sin recortarla */
    object-position: center; /* Centrar la imagen */
    padding: 0px;
}

.logomini img {
    transition: transform 0.3s ease; /* Transición suave de la transformación */
}

.logomini:hover img {
    transform: scale(1.1); /* Escala del 110% al pasar el mouse */
}

.flechitas-glor {
    color: #36a34c;
    font-size: 24px; /* Tamaño del icono */
    padding: 1px;
    height: 30px;
    width: 30px;
    margin: 0 7px;
}

.flechitas-glor:hover {
    color: #69df0f;
    font-size: 24px; /* Tamaño del icono */
    padding: 1px;
    height: 30px;
    width: 30px;
    margin: 0 7px;
}


.glori-cat {
    border: 1px solid #d6d6d6;; /* Borde de 1 píxel de grosor, color azul */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 5px 10px rgba(80, 80, 80, 0.1); /* Sombra para dar profundidad */
    padding: 15px;
    height: 292px;
    width: 175px;
    margin: 0 10px;
    margin-bottom: 5px; /*espacio entre card*/
}

.glori-cat:hover {
    border: 2px solid #e7e6e6;; /* Borde de 2 píxeles de grosor, color azul */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(146, 145, 145, 1); /* Sombra para dar profundidad */
    padding: 15px;
    height: 292px;
    width: 175px;
    margin: 0 10px;
    margin-bottom: 5px;
}

.glori-cat-img {
    cursor: pointer;
}

.glori-cat-img {
    padding: 5px;
    position: relative; /* Necesario para controlar el overlay */
}

.glori-cat-img  img {
    transition: transform 0.4s ease; /* Transición suave de la transformación */
}

.glori-cat-img:hover img {
    transform: scale(1.1); /* Escala del 110% al pasar el mouse */
}

.fuentenombre-1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #212020;
    font-weight: bold; /* Negrita */
    white-space: nowrap;      /* Evita que el texto se divida en varias líneas */
    overflow: hidden;         /* Oculta el contenido desbordante */
    text-overflow: ellipsis;  /* Muestra puntos suspensivos (...) al final del texto */
}

.botonagre-1 {
    border:none;
    padding: 4px 14px;
    text-align: center;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
  }

.stylebotonagre-1 {
    background-color: #ffffff;
    color: #4CAF50;
    padding: 1px 10px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 12px;
    display: block; /* Para centrar el botón */
    margin: 0 auto; /* Para centrar el botón */
    width: 140px; /* Ancho del botón */
    height: 35px; /* Altura del botón */
    margin-top: 5px;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.stylebotonagre-1:hover {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 1px 10px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: bold;
    border-radius: 15px;
    display: block; /* Para centrar el botón */
    margin: 0 auto; /* Para centrar el botón */
    width: 140px; /* Ancho del botón */
    height: 35px; /* Altura del botón */
    margin-top: 5px;
}









